{% extends 'layout.html.twig' %}

{% block content %}
     {% for msg in app.session.flashbag.get('success') %}
        <span class="alert alert-success">{{ msg }}</span>
    {% endfor %}

    <h1>Bonjour je suis dans la page connexion</h1>
{% endblock %}
