{% extends 'layout.html.twig' %}

{% block content %}
     {% for msg in app.session.flashbag.get('success') %}
        <span class="alert alert-success">{{ msg }}</span>
    {% endfor %}

    <h1>Bonjour je suis dans la page connexion</h1>

    Exercice:
        Créé un AdminController
        Créé routes:
            - Affiche tous les produits(admin/product/show)
            - Ajouter produit(/admin/product/add)
            - Modifier un produit(/admin/product/update/{id})
            - Supprimer un produit(/admin/product/delete/{id})
        - Créé une vue layout_admin.html.twig



{% endblock %}
